body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: #b93b56;
  color: white;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #88726b;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonBlue {
  display: inline-block;
  border-radius: 4px;
  background-color: #4194c4;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 19px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 55px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/* custom css class for text editor box*/
.TextEditorCss {
  color: rgb(17, 17, 17);
  max-width: 740px;
  background-color: rgba(255, 255, 255, 0.788);
  box-shadow: rgba(16, 38, 39, 0.1) 0px 26px 24px 0px;
  padding: 40px;
  margin: 65px auto 45px;
  border-radius: 4.5px;
}
/* custom css class for text editor toolbar*/
.format-toolbar {
  display: flex;
  border-bottom: solid 1.7px rgb(72, 158, 204);
  padding: 10px 0;
  margin: 0 0 10px 0;
}
/* custom css class for text editor btn*/
.tooltip-icon-button {
  border: 0;
}
